.App {
  text-align: center;
}

nav ul{
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

/* styles.css */
.table-container {
  margin: auto;
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #dddddd;
}

button {
  background-color: azure;
  border-radius: 10%;
  font-weight: bold;
}

input{
  border: none;
  height: 30px;
  font-size: 15px;
}
  
input:focus {
    outline: none;
  }